.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}

.formFields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

@media (max-width: bp.$bp-mobile) {
  .formFields {
    grid-template-columns: minmax(0, 1fr);
  }
}
